table{
    width: auto;
    display: block;
    border-radius: 1%;
    margin: auto;
    background-color: #f4fff2;
}
.board{
    width: auto;
    border: 5px solid green;
}
.option{
    background-color: white;
    border: 4px solid black;
    padding: 10px;
    float: left;
}
button{
    width: 80px;
    height: 25px;
}
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  th{
      cursor: pointer;
      background-color: #7ff772;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }